
<p><h2>Roles</h2></p>

<table>
	<tr>
		<th>Id</th>
		{% if not experiment %}
		<th>Experiment</th>
		{% endif %}
		<th>Role</th>
		<th>Count</th>
	</tr>
	
	{% for role in roles %}
	<tr>
		<td>{{ role.id }}</td>
		{% if not experiment %}
		<td><a href="{{ path('admin_experiment_view', {'experiment': role.experiment.id}) }}">{{ role.experiment.name }}</a>
		{% endif %}
		<td>{{ role.name }}</td>
		<td>{{ role.amount }}</td>
	</tr>
	{% else %}
	<tr>
		<td colspan="2">No roles found</td>
	</tr>
	{% endfor %}
</table>

<p><a href="">Add new role</a></p>
</div>

	<!-- protected $id;
	protected $experiment;
	protected $name = "Player";
	protected $amount = 1; -->
	

