<nav class="navbar navbar-inverse" ng-init="isCollapsed = true" ng-controller="MenuController">
	<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header" ng-click="toggleCollapsed()">
      		<button type="button" class="navbar-toggle collapsed">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>

				{% if is_granted('ROLE_RESEARCHER') %}
      		<a class="navbar-brand" href="{{ path('admin_dashboard') }}">{% trans %}Home{% endtrans %}</a>
      	{% else %}
      		<a class="navbar-brand" href="{{ path('homepage') }}">{% trans %}Home{% endtrans %}</a>
      	{% endif %}
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="isCollapsed">
		<ul class="nav navbar-nav">
			<!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>  -->

			<li class="dropdown" ng-class="{ open: hasDroppedDown('experiments') }">
				<a href="#" class="dropdown-toggle" ng-click="toggleDropdown('experiments')">{% trans %}Experiment{% endtrans %} <span class="caret"></span></a>

				{% if is_granted('ROLE_RESEARCHER') %}

				<ul class="dropdown-menu" role="menu">
					<li><a href="{{ path('admin_experiments') }}">{% trans %}List experiments{% endtrans %}</a></li>
					<li class="divider"></li>
					<li><a href="#">{% trans %}Create new experiment{% endtrans %}</a></li>
				</ul>

				{% else %}

				<ul class="dropdown-menu" role="menu">
					<li><a href="{{ path('experiments') }}">{% trans %}Available experiments{% endtrans %}</a></li>
				</ul>

				{% endif %}
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
    		<li class="dropdown" ng-class="{ open: hasDroppedDown('authentication') }">
    			{%  if app.user %}
    				<a ng-click="toggleDropdown('authentication')">{% trans %}User{% endtrans %} {{ app.user.username | capitalize }} <span class="caret"></span></a>

    				<ul class="dropdown-menu">
    					<li><a href="">{% trans %}User profile{% endtrans %}</a></li>
    					<li class="divider"></li>
    					<li><a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
   					</ul>

   				{% else %}
   					<a href="{{ path('login') }}">{% trans %}Login{% endtrans %}</a>
   				{% endif %}
    		</li>

			<li class="dropdown" ng-class="{ open: hasDroppedDown('language') }">
   				<a href="" ng-click="toggleDropdown('language')">
   				{% if app.request.locale == "en" %}
   					{{ macros.country("en", "English") }}
   				{% elseif app.request.locale == "pt" %}
   					{{ macros.country("pt", "Português") }}
   				{% elseif app.request.locale == "nl" %}
   					{{ macros.country("nl", "Nederlands") }}
   				{% elseif app.request.locale == "es" %}
   					{{ macros.country("es", "Español") }}
   				{% endif %} 
   				<span class="caret"></span></a>

   				<ul class="dropdown-menu">
   					<li><a href="{{ path(app.request.get('_route'), {'_locale': 'en'}) }}">{{ macros.country("en", "English")}}</a></li>
    				<li><a href="{{ path(app.request.get('_route'), {'_locale': 'pt'}) }}">{{ macros.country("pt", "Português")}}</a></li>
    				<!-- 
    					<li><a href="{{ path(app.request.get('_route'), {'_locale': 'nl'}) }}">{{ macros.country("nl", "Nederlands")}}</a></li>
    					<li><a href="{{ path(app.request.get('_route'), {'_locale': 'de'}) }}">{{ macros.country("de", "Deutsch")}}</a></li>
						<li><a href="{{ path(app.request.get('_route'), {'_locale': 'es'}) }}">{{ macros.country("es", "Español")}}</a></li>
					-->
    			</ul>
    		</li>
    	</ul>
	</div>
</nav>
