<div id="bar">
    		<ul class="menu-dropdown menu-horizontal">
    			<li class="mi-title">Setup</li>
    			<li><a href="{{ path('admin_experiments') }}">Experiments</a></li>
    		
    			<li class="mi-right">
    				{{ macros.country("en", "English") }}    				
    				
    				<ul class="menu-vertical">
    					<li>{{ macros.country("en", "English")}}</li>
    					<li>{{ macros.country("pt", "Português")}}</li>
    					<li>{{ macros.country("nl", "Nederlands")}}</li>
    					<li>{{ macros.country("de", "Deutsch")}}</li>
    				</ul>
    				
    			</li>
    			
    			<li class="mi-right">
    				{% if app.user %}
    				
    				User {{ app.user.username|capitalize }}
    				
    				<ul class="menu-vertical">
    					<li>User profile</li>
    					<li><a href="{{ path('logout') }}">Logout</a></li>
   					</ul>
   					
   					{% else %}
   						<a href="{{ path('login') }}">Login</a>   					
   					{% endif %}
    			</li>    			
    		</ul>
</div>