{% extends 'base.html.twig' %}
{% form_theme form 'form/form.html.twig' %}

{% block body %}

<div class="page-header">
	<h1>Edit screen</h1>
	
	<span ng-hide="editOptionals">
	Screen <strong>{{ screen.name }}</strong> part of the <strong>{{ screen.experiment.name }}</strong> experiment. <a ng-click="editOptionals = 1">Click to change</a>.	
	</span>
</div

<div class="container">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}})  }}

	{{ form_errors(form) }}
	
	<optional ng-show="editOptionals">
	
	{% if experiment %}
	<div class="form-group">
		<label>Experiment:</label>
		<span class="form-control" readonly>{{ experiment.name }}</span>
	</div>
	{% else %}
		{{ form_row(form.experiment) }}
	{% endif %}

	{{ form_row(form.name) }}
	
	</optional>
	
	{{ form_row(form.source) }}
	
	<div class="form-group">
     	 {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
	</div>
     
	{{ form_end(form) }}
</div>

{% endblock %}