
<p><h2>Screens</h2></p>

<table>
	<tr>
		<th>Id</th>
		{% if not experiment %}
		<th>Experiment</th>
		{% endif %}
		<th>Name</th>
		<th>Last changed</th>
		<th>Versions</th>
	</tr>
{% for screen in screens %}
	<tr>
		<td>{{ screen.id }}</td>
		{% if not experiment %}
			{% if screen.experiment %}
				<td>{{ screen.experiment.name }}</td>
			{% else %}
				<td>Unassigned</td>
			{% endif %}
		{% endif %}
		
		<td><a href="{{ path('admin_screen_edit', {'screen': screen.id}) }}">{{ screen.name }}</a></td>
		<td><!-- screen.last.timestamp --></td>
		<td>{{ screen.screenVersions | length }} version(s)</td>
	</tr>
{% else %}
	<tr>
		<td colspan="4">No screens found</td>
	</tr>
{% endfor %}
</table>

{% if not experiment %}
<p><a href="{{ path('admin_screen_create') }}">Create new screen</a></p>
{% else %}
<p><a href="{{ path('admin_screen_create', {'experiment': experiment.id}) }}">Create new screen</a></p>
{% endif %}
