{% extends 'base.html.twig' %}

{% block body %}

<p><h1>{% trans %}Available experiments{% endtrans %}</h1></p>

<table class="table table-hover">
	<thead>
		<tr>
			<th>{% trans %}Experiment name{% endtrans %}</th>
			<th>{% trans %}Participate{% endtrans %}</th>
			{% if is_granted('ROLE_RESEARCHER') %}
			<th>{% trans %}Edit{% endtrans %}</th>
			<th>{% trans %}Delete{% endtrans %}
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for experiment in experiments %}
		<tr>
			<td>{{ experiment.name }}</td>
			<td>
				<a class="btn-sm btn-primary" href="{{ path('experiment_run', {'experiment_id': experiment.id}) }}">
					<i class="glyphicon glyphicon-play"></i> &nbsp; {% trans %}Participate{% endtrans %}
				</a>
			</td>
			{% if is_granted('ROLE_RESEARCHER') %}
			<td><a class="btn-sm btn-primary" href="{{ path('admin_experiment_view', {'experiment': experiment.id}) }}">
				<i class="glyphicon glyphicon-pencil"></i> &nbsp; {% trans %}Edit{% endtrans %}
			</a></td>
			
			<td><a class="btn-sm btn-danger" href="{{ path('admin_experiment_remove', {'experiment': experiment.id}) }}">
				<i class="glyphicon glyphicon-trash"></i> &nbsp; {% trans %}Delete{% endtrans %}
			</a></td>
			{% endif %}
		</tr>
	</tbody>
{% endfor %}
</table>

{% if is_granted('ROLE_RESEARCHER') %}
<p>
	<a class="btn btn-primary" href="{{ path('admin_experiment_create') }}">
		<i class="glyphicon glyphicon-plus"></i>
		Experiment
	</a>
</p>
{% endif %}

{% endblock %}
