{% extends 'base.html.twig' %}

{% block body %}

<script>
	var responseSink = "{{ path('api_participant_sink', {'participant': player.uuid}) }}";
	var eventSource = "{{ path('api_participant_source', {'participant': player.uuid}) }}";
	
{% if responses %}
	var responses = {{ responses|raw }};
{% else %}
	var responses = {};
{% endif %}	
</script>

<div ng-controller="ExperimentController">

	{% for screen in screens %}
		<div ng-show="isVisible({{ screen.id }}, '{{ screen.name }}')">
			{% render(controller('AppBundle:Screen:compile', {'experiment_id': player.experiment.id, 'screen_name': screen.name})) %}
		</div>	
	{% endfor %}

</div>

{% endblock %}